mat-toolbar,
mat-card,
.success,
.error {
  width: 35%;
  margin: auto;
  margin-top: 2rem;
}
mat-toolbar,
mat-card {
  background-color: white;
}
@media (max-width: 700px) {
  mat-toolbar,
  mat-card,
  .success,
  .error {
    width: 60%;
  }
}
mat-form-field {
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.formgroup{
  border: 1px solid rgb(199, 196, 196);
  border-radius: 2%;
  padding: 10px;
  margin: 5px;
}