mat-toolbar,
mat-card,
.error,
.success {
  width: 35%;
  margin: auto;
  margin-top: 2rem;
}
mat-toolbar,
mat-card {
  background-color: white;
}
mat-form-field {
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
@media (max-width: 700px) {
  mat-toolbar,
  mat-card,
  .error,
  .success {
    width: 60%;
  }
}
