<mat-toolbar class="mat-elevation-z4"><p>Forgot Password</p></mat-toolbar>

<div class="success" *ngIf="message">
  <p class="alert alert-success">{{ message }}</p>
</div>

<div class="error" *ngIf="err">
  <p class="alert alert-danger">{{ err }}</p>
</div>

<mat-card *ngIf="!message">
  <form (submit)="onSubmit(ForPasForm)" #ForPasForm="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email"
        name="email"
        placeholder="Enter your valid email to reset password"
        matInput
        ngModel
        required
      /> </mat-form-field
    ><br />
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <div class="extras">
      <a routerLink="/login">Back to login</a>
    </div>
  </form>
</mat-card>
