<mat-toolbar class="mat-elevation-z4"><p>Search Resumes</p></mat-toolbar>

<div class="error" *ngIf="err">
  <p class="alert alert-danger">{{ err }}</p>
</div>
<mat-card>
  <form (submit)="onSearch(searchForm)" #searchForm="ngForm">
    <mat-form-field appearance="outline">
      <input
        type="text"
        name="username"
        placeholder="Enter your username to search resume"
        matInput
        ngModel
        required
      /> </mat-form-field
    ><br />
    <button mat-raised-button color="primary" type="submit">Search</button>
  </form>
</mat-card>
